.__heading {
  margin: 1em 0 0.5em 0;
  color: #343434;
  font-weight: normal;
  font-family: "Ultra", sans-serif;
  font-size: 1.5rem;
  line-height: 10vh;
  text-transform: uppercase;
  text-shadow: 0 2px white, 0 3px #777;
}

.__star-wars {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.__character-cards {
  width: 18rem;
  height: 12rem;
  background-color: lightgray;
  text-align: center;
}
